.secao{
    background-color: #a91717	;
    border-radius: 20px;
    width: 30vw;
    height: 4.5vh;
    color: white;
    text-align: left;
    padding-left: 1vw;
    border: none;
    font-size: 1.2em;
}
.campos{
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
}
.campos p{
    padding: 1vh 0 1vh 1.5vw;
    width: 29vw;
}
